{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h1>Page introuvable!! </h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

    <div>
        Vérifiez l'existance de cette annonce !!
    </div>

{% endblock %}


