{# src/OC/PlatformBundle/Resources/views/Advert/translation.html.twig #}

<html>
<body class="margin : 20px">
{{ 'Hello' |trans({'%name%': name}) }}
</br>
{{ 'content' |trans }}
</br>

</body>
</html>